affine
arm_pyart
asf_search
dask
dem_stitcher>=2.5.8
gdal>=3.7.0
h5py
joblib
matplotlib
netcdf4
numpy
pandas
parallel
pip
pyproj
pytest
python>=3.8
python-dateutil
rasterio
rioxarray
requests
scipy>1.10.0
shapely
tile_mate
xarray
## notebook dependencies, keep commented out for better compatiability with other codes
#jupyterlab
#jupyter_contrib_nbextensions
