name: PyTest

on:
  push:
    branches:
      - dev
  pull_request:
    branches:
      - dev

jobs:
  pytest:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9"]

    steps:
      - uses: actions/checkout@v2

      - uses: extractions/netrc@v1
        with:
          machine: urs.earthdata.nasa.gov
          username: ${{ secrets.EARTHDATA_USERNAME }}
          password: ${{ secrets.EARTHDATA_PASSWORD }}

      - uses: mamba-org/provision-with-micromamba@v15
        with:
          environment-name: ARIA-tools
          environment-file: environment.yml
          extra-specs: |
            python=${{ matrix.python-version }}

      - name: test in conda environment
        shell: bash -l {0}
        env:
          TOPO_API_KEY: ${{ secrets.TOPOAPI }}
        run: |
          echo $TOPO_API_KEY > ~/.topoapi
          python -m pip install .
          source tests/test.sh